# python读写mysql数据库
https://www.cnblogs.com/qi-yuan-008/p/11914298.html

In [ ]:
import pandas as pd
import numpy as np

inputfile = 'C:/Users/zhanghao354/Jupyter notebook/1京东云项目/京东云分层用户产品关联和3种协同过滤推荐/产品关联_V3.xlsx'
data = pd.read_excel(inputfile)

In [2]:
data

         pin service_code service_name bill_flag
0      --魏--           ip         公网IP       GC1
1      --魏--           vm          云主机       GC1
2      -aac-        redis     云缓存Redis       GC3
3      -aac-         disk          云硬盘       GC3
4      -aac-           ip         公网IP       GC3
...      ...          ...          ...       ...
39959   龙渐集团           vm          云主机       GC1
39960   龙渐集团         disk          云硬盘       GC1
39961   龙渐集团           ip         公网IP       GC1
39962  龙蟠旗舰店           ip         公网IP       GC1
39963  龙蟠旗舰店           vm          云主机       GC1

[39964 rows x 4 columns]

# 方法一：python连接mysql数据库：需要用到 pymysql 库和 sqlalchemy库：
## 写入

In [14]:
from sqlalchemy import create_engine
import pymysql

# create_engine('mysql+pymysql://用户名:密码@主机/库名?charset=utf8')
engine = create_engine('mysql+pymysql://root:mysql@127.0.0.1:3306/jdcloud_recommended?charset=utf8')
#将数据写入sql
data.to_sql('data', engine, index = False) # index = False表示不加索引列，写到table_py表，如果表已经存在，会报错：ValueError: Table 'table_py' already exists.

D:\Anaconda3_5.3.1\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

## 读取数据库中GC5的数据

In [18]:
import pandas as pd
engine = create_engine('mysql+pymysql://root:mysql@127.0.0.1:3306/jdcloud_recommended?charset=utf8')
sql_ = "select * from data_gc5;" #table_name某个表名
df_data = pd.read_sql_query(sql_, engine)

D:\Anaconda3_5.3.1\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [19]:
df_data

                     pin service_code       service_name bill_flag
0     142187996-24777650           vm                云主机       GC5
1     142187996-24777650          zfs              云文件服务       GC5
2     142187996-24777650  datacompute             数据计算服务       GC5
3     142187996-24777650         disk                云硬盘       GC5
4     142187996-24777650           ip               公网IP       GC5
...                  ...          ...                ...       ...
1773              魔方2019           ip               公网IP       GC5
1774              魔方2019     database         云数据库 MySQL       GC5
1775              魔方2019        db_ro  云鼎云数据库 MySQL 只读实例       GC5
1776              魔方2019           vm                云主机       GC5
1777              魔方2019        redis          云鼎缓存Redis       GC5

[1778 rows x 4 columns]

# 方法二：使用 read_sql
## 读取

In [16]:
username = 'root'
passwd = 'mysql'
database_name = 'jdcloud_recommended'
con_engine = pymysql.connect(host = 'localhost' ,user = username, password = passwd, database = database_name, port=3306, charset = 'utf8') #通过参数形式传递，参数是字符串形式
sql_ = "select * from data_gc5;" #table_name某个表名
df_data = pd.read_sql(sql_ , con_engine)

In [17]:
df_data

                     pin service_code       service_name bill_flag
0     142187996-24777650           vm                云主机       GC5
1     142187996-24777650          zfs              云文件服务       GC5
2     142187996-24777650  datacompute             数据计算服务       GC5
3     142187996-24777650         disk                云硬盘       GC5
4     142187996-24777650           ip               公网IP       GC5
...                  ...          ...                ...       ...
1773              魔方2019           ip               公网IP       GC5
1774              魔方2019     database         云数据库 MySQL       GC5
1775              魔方2019        db_ro  云鼎云数据库 MySQL 只读实例       GC5
1776              魔方2019           vm                云主机       GC5
1777              魔方2019        redis          云鼎缓存Redis       GC5

[1778 rows x 4 columns]

# 方法三：直接使用pymysql进行查询，插入数据、更新数据、删除数据等修改数据表的操作需要添加 commit 和 rollback 语句

In [22]:
import pymysql

# 建立数据库连接，username, passwd, database_name都是如上，预先定义的参数，localhost也可以替换成某个数据库的ip地址
con_engine = pymysql.connect(host = 'localhost' ,user = username, password = passwd, database = database_name, port=3306, charset = 'utf8')
 
# 使用cursor()方法获取游标 
cursor = con_engine.cursor()
 
# SQL语句
sql_ = "select * from data_gc5;"
try:
    # 执行SQL语句
    cursor.execute(sql_)
    # fetchall()获取所有记录，形成的是元组，results = cursor.fetchmany(10)获取前10条，results = cursor.fetchone()获取一条数据
    results = cursor.fetchall() 
    for row in results:  #依次获取每一行数据
        id_ = row[0]  #第1列
        key_words_ = row[1]
        type_words_ = row[2]
        address_name_ = row[3]
        # 打印结果
        #print(id_,key_words_,type_words_,address_name_)
except:
    print ("Error: unable to fetch data")
    #关闭数据库连接
    con_engine.close()

'redis'