In [7]:
import pandas as pd
import numpy as np

#导入已经处理过的数据
df_path="D:\\zhanghao354\\Desktop\\111.xlsx"
df=pd.read_excel(df_path)
#查看数据
df.head(3).append(df.tail(3))

,1,2,3,4,5,6,7,8,9
0,1335.979,1698.183,2086.438,2304.558,2451.732,2420.78,2541.22,2536.51,2547.005
0,1335.979,1698.183,2086.438,2304.558,2451.732,2420.78,2541.22,2536.51,2547.005